@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

div.links:first-child {
  margin-top: 10vh;
}

div.links:last-child {
  margin-bottom: 5vh;
}

div.links + div.links {
  margin-top: 8vh;
}

div.links {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: fit-content;
  margin-left: 10vw;
  gap: 15px;

  a {
    position: relative;
    width: fit-content;
    font-size: x-large;
  }

  a:hover:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    animation-name: strike;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}
