div.narrowPage {
  width: 100%;
  margin-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: row;

  .piece {
    width: fit-content;
    margin-left: 10vw;
    margin-right: auto;
  }

  .title {
    font-size: x-large;
    margin-right: auto;
    width: fit-content;
    max-width: 50vw;
  }

  .content {
    font-size: large;
    width: fit-content;
    max-width: 50vw;
  }

  .authorNote {
    border-top: 0.5px solid lightslategray;
    margin-top: 30px;
    padding-top: 7px;
    font-size: x-small;
    width: 92%;
  }

  img {
    padding-top: 15px;
    width: 20vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.limits .piece {
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .title {
    margin-left: auto;
    margin-right: auto;
  }
}
