div.narrowPage {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  padding-bottom: 10vh;

  .title {
    font-size: x-large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 31vw;
  }

  .body {
    font-size: large;
    width: fit-content;
    max-width: 50vw;
  }

  .authorNote {
    border-top: 0.5px solid lightslategray;
    margin-top: 30px;
    padding-top: 7px;
    font-size: x-small;
    width: 92%;
  }

  img {
    padding-top: 30px;
    width: 20vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .limits * {
    text-align: center;
    align-items: center;
  }
}
